body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(248, 225, 201);
}
.big-name h1 {
font-size: 60px;
}

.big-name p {
  padding-bottom: 15px;
  font-size: 17px;
}

.big-name .jumbotron{
  background-color: rgba(222, 149, 61, 0.674);
  padding: 12px;
  padding-top: 25px;
  border-style: solid;
  border-color: rgb(185, 32, 47);
  border-width: 3px;
  margin: 5%;
  margin-top: 10%;
}

.about img {
  width: 75%;
  margin: auto;
  display: block;
}

.blocks h2 {
font-size: 25px;
font-weight: 100;
text-align: left;
background-color: rgba(250, 206, 174, 0.886);
box-sizing: border-box;
padding: 10%;
}

.blocks {
  float: left;
  width: 40%;
  height:250px;
  margin: 3%;
  border-style: solid;
  border-color: rgb(185, 32, 47);
  border-width: 3px;
  background-color: rgba(220, 251, 252, 0.972);
}

.blocks .jumbotron {
  background-color: rgba(222, 149, 61, 0.674);
  height: auto;
  padding-top: 5px;
  padding-bottom: 45px;
  box-sizing: border-box;
}
