body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(56, 141, 141);
}
.big-name {
font-size: 60px;
font-weight: 200;
}

.blocks h2 {
font-size: 25px;
font-weight: 100;
text-align: left;
background-color: bisque;
}

.blocks {
  float: left;
  width: 40%;
  height:250px;
  margin: 3%;
  border-style: solid;
  background-color: rgba(163, 154, 154, 0.692);
}

.jumbotron {
  padding-block: inherit;
  padding-top: 5%;
  background-color: rgba(130, 226, 173, 0.921);
}

.blocks .jumbotron {
  background-color: rgb(89, 163, 186);
}